<div class="content">
 

  <div class="content-box">
  <%= form_tag("/blogs/#{@blog.id}", method: :patch) do %>
       <h3>本文</h3>
      <textarea name="text" placeholder="text" row="5" cols="50"><%= @blog.text %></textarea>
      <input type="submit" value="SEND" class="submit-button">
      
    <% end %>
  </div>
</div>