<div class="content">

  <h3>ブログ内容</h3>
  
  <p>こいつは試しだよ</p>
  <input>
  <p>入力は下の欄から</p>
  <textarea>ここに入力</textarea>
  
  <div class="content-button">
      <a href="">SHOW</a>
      <a href="">EDIT</a>
      <a href="">DESTROY</a>
      <a href="">nannda</a>
  </div>

  
</div>