<div class="content">
  
  
  <h3>ブログ内容</h3>
  
  <!--each文の％には＝をつけないこと　下に変な文章がでてしまうよ-->
  <% @blogs.each do |blog| %>
    <div class="content-box">
      
      <P><%= blog.text %></P>
      
      <% if user_signed_in? && current_user.id == blog.user_id %>
      <%= link_to '詳細', "/blogs/#{blog.id}/show"%>
      <%= link_to '削除', "/blogs/#{blog.id}", method: :delete %>
      <!--methodの指定が何もなければgetになる-->
      <%= link_to '編集', "/blogs/#{blog.id}/edit"%>
      <% end %>
    </div> 
  <% end %>

</div>