<div class="content">
  
  
  <h3>ブログ内容</h3>
  
  <!--each文の％には＝をつけないこと　下に変な文章がでてしまうよ-->
  <% @blogs.each do |blog| %>
    <div class="content-box">
      <P><%= blog.name %></P>
      <P><%= blog.text %></P>
    </div> 
  <% end %>

</div>