<div class="content">
  <div class="content-text">
    
  </div>
  <div class="content-button">
    <div class="show-button">SHOW</div>
    <div class="edit-button">EDIT</div>
    <div class="destroy-button">DESTROY</div>
  </div>
  
</div>