// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  background-color: #99FFCC;
}

body{
  background-color: #FFFF99;
}

footer{
  background-color: #99FFCC;
}