.header {
  height: 150px;
  background-color: #66FFFF; }

.header-logo {
  float: left;
  padding: 20px 10px;
  margin: 10px; }

.header li {
  list-style: none;
  float: right; }

.content-button li {
  list-style: none; }

.footer-logo {
  float: left;
  padding: 20px 10px; }

.footer-list li {
  list-style: none;
  float: right; }