

.header {
  height: 50px;
  background-color: #66FFFF; 
  
}

.header-logo {
  padding-left: 20px;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: 4px;
  // ヘッダーのロゴを左に回り込ませる
  float: left;
  text-decoration: none;
  
  h3 a{
    text-decoration: none;
  }
  }

.header ul{
  // 子要素を横に並べる
  display: flex;
  // 右に寄せる
  justify-content: flex-end;
}

.header li {
  list-style: none;
  margin: 10px;
  background-color: #0033FF;
  padding: 0 10px;
  // 30pxはmaiginの上下10pxを高さ50からひいた高さを指定している
  line-height: 30px;
  color: white;
  
}

.signin{
  list-style: none;
  margin: 10px;
  padding: 0 10px;
  // 30pxはmaiginの上下10pxを高さ50からひいた高さを指定している
  line-height: 30px;
  color: white;
  
  a{
    margin: 10px;
    background-color: #0033FF;
    text-decoration: none;
  }
}
.not-signin{
  list-style: none;
  margin: 10px;
  padding: 0 10px;
  // 30pxはmaiginの上下10pxを高さ50からひいた高さを指定している
  line-height: 30px;
  color: white;
  
  a{
    margin: 10px;
    background-color: #0033FF;
    text-decoration: none;
  }
}
  
  
.content{
    height: calc(100vh - 100px);
    background-color: #CCFFFF;
    padding: 50px 10px;
    // text-align: center;
    // display: flex;
    
    // 内容をスクロールさせるための記述
    overflow: scroll
    
  }
  
.content-box{
  width: 80%;
  padding: 10px 10px;
  margin: 10px;
  min-width: 880px;
  background-color: white;
  
  // justify-content: center;
  
  // 枠線
  border: solid 3px #6091d3;
  border-radius: 10px;
}

.content-box textarea{
  border: solid 1px;
  border-radius: 5px;
}
.submit-button{
  border: solid 2px;
  border-radius: 5px;
  background-color: #0066FF;
}
.submit-button:hover{
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


.content-button li {
  list-style: none; }
  
  
.field input{
  border: solid 1px;
}




.footer{
  height: 50px;
  background-color: #66FFFF; 
}

.footer-logo {
  // フッターのロゴを左に回り込ませる
  float: left;
  line-height: 50px;
  }

.footer ul{
  // 子要素を横に並べる
  display: flex;
  // 右に寄せる
  justify-content: flex-end;
  
}

.footer-list li {
  list-style: none;
  line-height: 30px;
  margin: 10px 20px;
}